<p><%= @city %></p>
<p><%= @desc %></p>
<p><%= @lon %></p>
<p><%= @lat %></p>
<p><%= @temp %></p>
<p><%= @temp_min %></p>
<p><%= @temp_high %></p>
<p><%= @pressure %></p>
<p><%= @humidity %></p>
<p><%= @wind_speed %></p>
<p><%= @wind_degree %></p>